*{
    padding: 0;
    margin: 0;
}
h2::first-letter{
    font-size: 150%;
}
header{
    background-color:#1ca1f2;
    padding: 25px;
    text-align: center;
    margin-bottom: 20px;
}
header h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
    text-decoration: underline;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
header nav li a{
    color: white;
    text-decoration: none;
}
main .a .container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: auto;
}
main .b{
    background-color: white;
    padding: 30px;
    text-align: center;
}
main .b .container{
    width: 100%;
    max-width: 700px;
    color: navy;
    margin: 0 auto;
}
main .b h2{
    font-size: 30px;
    margin-bottom: 20px;
}
main .c{
    background-color: #1ca1f2;
    color: white;
    padding: 20px;
    text-align: center;
}
main .c .container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid white;
}
main .c h2{
    font-size: 30px;
    margin: 10px;
}
main .c table{
    margin: 0 auto;
}
main .c table td{
    padding: 10px 20px;
}
aside{
    background-color: white;
    padding: 30px;
    text-align: center;
    color: navy;
}
aside .container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
aside h2{
    font-size: 30px;
    margin-bottom: 20px;
}
aside p{
    margin-bottom: 20px;
    width: 700px;
}
aside figure img{
    width: 100px;
    margin: 10px;
}
aside .btn{
    background-color: white
    display: inline-block;
    padding: 10px;
    border: 1px solid navy;
    border-radius: 100px;
    color: navy;
    font-size: 15px;
    text-decoration: none;
}
aside .btn:hover{
    background-color: navy;
    color: white;
}
footer{
    background-color: #1ca1f2;
    color: white;
    padding: 8px;
    text-align: center;
}